@model ResetPasswordModel

<h2>Şifre sıfırlama</h2>
<hr>
<form asp-action="ResetPassword" method="post">
    
    <input type="hidden" asp-for="Token" />
    <div class="mb-3">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Password">Şifre</label>
        <input asp-for="Password" type="password" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword">Şifre tekrar</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control">
    </div>


    <button type="submit" class="btn btn-primary">Gönder</button>
   
</form>