<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
            Home Page
        </h1>
        <p class="cold-md-8 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad obcaecati facere quasi eius, ullam dolor eos molestiae excepturi dignissimos magni totam adipisci expedita iusto ducimus, dolorem voluptas quis laudantium provident ipsa maxime sint neque incidunt. Repellat eum omnis recusandae natus ut atque molestiae quas nemo ipsam optio aperiam temporibus corrupti nihil, consequuntur voluptatum rem perspiciatis! Iusto quisquam impedit quibusdam asperiores rerum dolor quae iste necessitatibus? Repellat laboriosam maxime, aspernatur, adipisci ea aliquam minus numquam alias obcaecati molestiae ratione in at accusantium quo porro vero magnam dolores aperiam mollitia perferendis cupiditate molestias expedita. Enim molestias a aliquam error laudantium qui minus.</p>
        <button class="btn btn-primary btn-lg">Button</button>
    </div>

</div>