<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="contanier">
      
      <ul class="navbar-nav me-auto">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">CourseApp</a>
        <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a asp-controller="Course" asp-action="List" class="nav-link">Course</a>
        </li>
      </ul>
    </div>
  </nav> 