<h1 class="h4">TOPLANTI KATILIM LİSTESİ</h1>
<table class="table table-bordered">
<thead>
    <tr>
        <td>Ad</td>
        <td>Katılım Durumu</td>
        
    </tr>
</thead>
<tbody>
    <tr>
    <td>Enes Başpınar</td>
    <td>Evet</td>
    <td><a class="btn btn-sm btn-primary" href="#">Detay</a></td>
    </tr>
</tbody>
</table>