@model Kurs

<p>
    <b>
        @Model.Baslik
    </b> Kursunu silmek istediðinizden eminmisiniz.
    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.KursId" />
       <button type="submit" class="btn btn-danger">Evet</button>
       <a asp-action="Index" class="btn btn-primary">Hayýr</a>
    </form>
</p>