@model Ogrenci

<p>
    <b>
        @Model.OgrenciAd @Model.OgrenciSoyad
    </b> Ýsimþi öðrenciyi silmek istediðinizden eminmisiniz.
    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.OgrenciId" />
       <button type="submit" asp-action="Index" class="btn btn-danger">Evet</button>
       <a asp-action="Index" class="btn btn-primary">Hayýr</a>
    </form>
</p>