@model KursKayit

<p>
    <b>
        @Model.ogrenci.OgranciAd @Model.ogrenci.OgranciSoyad
    </b> Ýsimþi öðrenciyi silmek istediðinizden eminmisiniz.
    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.ogrenci.OgrenciId" />
       <button type="submit" class="btn btn-danger">Evet</button>
       <a asp-action="Index" class="btn btn-primary">Hayýr</a>
    </form>
</p>