@model List<Course>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <h1>Course List Page</h1>
  @foreach(var kurs in Model)
  {
    <div id="kurs_@kurs.Id">
      <h2>@kurs.Title</h2>
      <p>@kurs.Description</p>
    </div>
  }
</body>
</html>